{% extends "labor\dashboard_base.html" %}
{% block title %}
Tasks
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div class="row mt-5">
    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="justify-content-center">
                    <h1 class="lead">Tasks Details</h1>
                    <table class="table">
                        <tr>
                            <th class="table-dark">Name</th>
                            <th class="table-dark">Description</th>
                            <th class="table-dark">Party</th>
                            <th class="table-dark">Action</th>
                        </tr>
                        {% if tasks|length != 0 %}
                        {% for task in tasks %}
                        <tr>
                            <td>{{task.task_name}}</td>
                            <td>{{task.task_description}}</td>
                            <td>{{task.party_id.party_name}}</td>
                            <td>
                                <a href="{% url 'task_details' task_id=task.task_id %}" class="btn btn-dark"><i class="bi bi-eye"></i></a>
                                
                                <a href="{% url 'task_payments' task_id=task.task_id %}" class="btn {% if task.task_payment_status == 'done'%} btn-success {%elif task.task_payment_status == 'partial' %} btn-warning {% else %} btn-danger{% endif %} "><i class="bi bi-currency-rupee"></i></a>
                                <a href="{% url 'task_edit' task_id=task.task_id %}" class="btn btn-dark"><i class="bi bi-pencil-square"></i></a>
                                <a href="{% url 'task_delete' task_id=task.task_id %}"
                                    class="btn btn-dark"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No tasks found</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="justify-content-center">
                    <h1 class="lead">Add Task</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="">Choose party</label>
                            <select class="form-select" name="task_party_id" aria-label="Default select example">
                                <option selected disabled>Choose party</option>
                                {% for party in parties %}
                                <option value="{{party.party_id}}">{{party.party_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="task_name">Task Name</label>
                            <input type="text" name="task_name" class="form-control" placeholder="Dimond work">
                        </div>
                        <div class="mb-3">
                            <label for="description">Description</label>
                            <textarea name="task_description" class="form-control" id=""
                                placeholder="Add something..."></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="start_date">Start date</label>
                            <input type="date" name="task_start_date" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="end_date">End date</label>
                            <input type="date" name="task_end_date" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="total_amount">Total amount</label>
                            <input type="text" name="task_total_amount" class="form-control" placeholder="₹ 1000">
                        </div>
                        <button type="submit" class="btn btn-dark">Add Task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}